# dependencies
/node_modules/

# build outputs
/dist/
/.vite/

# pnpm
.pnpm-debug.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db
desktop.ini

# editor settings
.vscode/
.idea/

# environment files
.env
.env.*.local

# logs
*.log
